extends layout 
 
block content 
  h1= title 
 
if(toShow==null)
    h2 No instance to delete
else
  - let jacketid = toShow._id 
  - let name = toShow.name
  - let brand = toShow.brand
  - let price = toShow.price 
 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{jacketid} 
  - let actionid = "/resource/jacket/" + jacketid 
  form(id='jacketForm', action= actionid, method="PUT") 
    div.form-group 
        label.jacketAttr(for='name') jacket type 
        input#name(type='text', name='name', value=name ) 
    div.form-group 
        label.jacketAttr(for='brand') jacket brand 
        input#brand(type='text', name='brand', value=brand ) 
    div.form-group 
        label.jacketAttr(for='jacketprice') jacket price 
        input#jacketprice(type='text', name='price', value=price ) 
    input(type="submit") 
 
  script.
    document.forms['jacketForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user tjacket form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.text(); // or resp.text() or wjacketever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    });